@charset "utf-8";
.logo {
	margin-top: 19px;
	margin-bottom: 8px;
	margin-left: 44px;
}
.choose {
	margin-left: 120px;
	margin-right: -92px;
	margin-top: 50px;
}
.greenline {
	background-color: #2CCBB5;
	margin-top: 30px;
	height: 6px;
}

.pic-bg {
	margin-top: 24px;
	margin-left: 55px;

}
.nav flex-colum {
	padding-left: 33px;

}
.row left {



}

.txt-area  {
	font-family: 'Lato', sans-serif;
	color: #2CCBB5;
	font-weight: bold;
	font-size: 72pt;
	margin-left: 153px;
	position: absolute;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
#cake {
	padding-top: 76px;
	color: #2CCBB5;
	padding-left: 0px;
	
}



.nav.flex-column {
	margin-top: 1px;
}


.bottontext {
	margin-top: 22px;
	font-family: 'Lato', sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #2CCBB5;
	padding-left: 59px;
	padding-top: 14px;
}
#botton   {
}
#botton .nav-link:hover  {
	padding-left: 106px;
	color: #F8A50D;
	font-size: 26pt;
	font-family: 'Lato', sans-serif;
}

.cakelist {
	padding-left: 1px;









}
.breadcrumb {
	background-color: #FEFEFE;
	color: #FFFFFF;
}
.breadcrumb-item {
	color: #2CCBB5;
}
.container-bt {
	height: 154px;
	background-color: #2CCBB5;
	margin-top: 73px;
}
.nav flex-column {
	margin-top: 60px;
	color: #2CCBB5;
	margin-left: 90px;
}
.nav-link {
}
